<div class="bg-dark min-vh-100 d-flex flex-row align-items-center text-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center d-flex justify-content-center">
        <div class="card bg-dark border-0 col-md-6">
          <div class="card-body">
            <div>
              <p style="font-size: 15vh" class="fw-bold">404</p>
              <p style="font-size: 2.5vh" class="text-medium-emphasis fw-bold">Oops! Você está perdido.</p>
              <p style="font-size: 2.5vh" class="text-medium-emphasis">A página que você está procurando não foi encontrada.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
