<app-navbar></app-navbar>

<div class="container">
  <div class="row">

    <div class="col-lg-3 mb-3">
      <div class="card border-0 shadow">
        <div class="card-body">
          <div class=" border-bottom">
            <img [src]="url_foto_perfil" (click)="foto.click()"
              class="rounded-circle mx-auto d-block mt-3 mb-3 shadow-lg" width="150px" height="auto" alt="..."
              title="Para alterar a foto, clique aqui.">
          </div>
          <div class="text-center">
            <div class="fw-bold mt-3 mb-3" style="font-size:30px">{{usuario_nome}}</div>
            <div class="fw-normal mt-3 mb-3" style="font-size:17px">{{usuario_email}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-9">
      <form [formGroup]="perfilForm" (ngSubmit)="atualizarUsuario()" class="row g-3 mb-3">
        <div class="col-12 col-lg-6">
          <div class="mb-3">
            <label for="nome" class="form-label">Nome <span class="text-danger fw-bold">*</span></label>
            <input type="text" id="nome" formControlName="nome" class="form-control"
              [class.is-invalid]="nome.invalid && (nome.dirty || nome.touched)" aria-label="Nome"
              aria-describedby="input-nome" required>
            <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="form-text text-danger">
              <div *ngIf="nome.errors?.['required']">
                Campo obrigatório.
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="mb-3">
            <label for="email" class="form-label">E-mail <span class="text-danger fw-bold">*</span></label>
            <input type="email" id="email" formControlName="email" class="form-control"
              [class.is-invalid]="email.invalid && (email.dirty || email.touched)" aria-label="Email"
              aria-describedby="input-email" required>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="form-text text-danger">
              <div *ngIf="email.errors?.['email']">
                E-mail inválido. Exemplo: seunome@mail.com
              </div>
              <div *ngIf="email.errors?.['required']">
                Campo obrigatório.
              </div>
            </div>
          </div>
        </div>

        <div id="divFoto" class="col-md-6">
          <div class="mb-3">
            <label for="foto" class="form-label">Foto de perfil</label>
            <input #foto class="form-control" accept='image/*' type="file" (change)="selecionarImagen($event)" id="foto"
              required>
          </div>
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-primary px-4" role="button">Atualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
